.gobang-chessboard {
  .chess {
    position: absolute;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity, transform 0.15s ease-out;

    &.black {
      background-color: #111;
    }

    &.white {
      background-color:#fff;
    }

    &.appear {
      opacity: 1;
      transform: scale(1);
    }

    &.marked::after {
      content: "";
      width: 30%;
      height: 30%;
      max-width: 12px;
      background-color: $red;
      border-radius: 100%;
    }

    &.highlight {
      animation: fade-out 0.5s ease infinite;
    }
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
  }
}