.gobang-chessboard {
  .chess {
    position: absolute;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.15s ease-out;

    &.black {
      background-color: #111;
    }

    &.white {
      background-color:#fff;
    }

    &.appear {
      opacity: 1;
      transform: scale(1);
    }

    &.marked::after {
      content: "";
      width: 30%;
      height: 30%;
      max-width: 12px;
      max-height: 12px;
      background-color: $red;
      border-radius: 100%;
    }

    &.highlight {
      box-shadow: 0px 0px 0px 2px #ffeb3b;
      animation: fade-out 0.5s ease 1;
    }
  }

  .chess-target {
    position: absolute;
    border-radius: 100%;
    border: 2px dashed;
    pointer-events: none;
    transform: scale(0.8);
    opacity: 0;
    transition: opacity,transform 0.15s ease-out;
    animation: chess-target-rotate 12s linear infinite forwards;
    animation-play-state: paused;

    &.show {
      transform: scale(1);
      opacity: 1;
      animation-play-state: running;
    }

    &.black {
      border-color: #111;
    }

    &.white {
      border-color:#fff;
    }
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
  }
}

@keyframes chess-target-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}