@import 'src/rulesets/ui/chessboard.scss';

.gobang-chessboard {
  border-radius: 1px;
  border: 4px solid #d09c3e;
  box-sizing: border-box;
  overflow: hidden;

  > canvas {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    background-color: #f1bd65;
  }
}
