.chinesechess-chess.theme-black-purple {
  --background: transparent;
  --broadside-color: radial-gradient(circle, #3b2b2b, #2f2323);

  --first-color: #dd1100;
  --second-color: #00e8ea;

  .chess__circle {
    border-width: 0px !important;
    border-color: #222 !important;
  }
  
  .back {
    .chess__circle {
      border-width: 0px !important;
    }
  }
}