@import './fonts.scss';

// app global css in SCSS form
.q-page-container {
  overflow: hidden;
}

.body--dark .q-page-container > .q-page {
  background-color: #1a1a1a;
}

.number {
  font-family: Monaco, "Lucida Console", monospace;
}