@font-face {
  font-family: 'founder-kaiti';
  src: url('/fonts/FZJKTB.ttf');
  src: url('/fonts/FZJKTB.ttf') format('truetype');
}

@font-face {
  font-family: 'founder-xin-kaiti';
  src: url('/fonts/FZXKJW.ttf');
  src: url('/fonts/FZXKJW.ttf') format('truetype');
}

@font-face {
  font-family: 'founder-simli';
  src: url('/fonts/WenDingCSLiShu-1.ttf');
  src: url('/fonts/WenDingCSLiShu-1.ttf') format('truetype');
}

@font-face {
  font-family: 'digital';
  src: url('/fonts/wwDigital.ttf');
  src: url('/fonts/wwDigital.ttf') format('truetype');
}