spring:
  profiles:
    active: @profiles.active@

  servlet:
    context-path: /
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

mybatis-plus:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: io.github.hulang1024.chesss.user