.chessboard {
  position: relative;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.15);

  &.elements-hide {
    > .chess,
    > .chess-target {
      transition: opacity .2s ease;
      opacity: 0 !important;
    }
  }
}
