.chessboard {
  position: relative;
    box-shadow: rgba(80, 80, 80, 0.5) 0px 4px 8px 0px;

  &.elements-hide {
    > .chess,
    > .chess-target {
      transition: opacity .2s ease;
      opacity: 0 !important;
    }
  }
}
