@import 'src/rulesets/ui/chessboard.scss';

.chinesechess-chessboard {
  border-radius: 5px;

  > canvas {
    border-radius: inherit;
  }
}

.mobile .q-page.play:not(.dark) {
  background: radial-gradient(#f2f2f2, #f2f2f2, #dadada);
}