@import 'src/rulesets/ui/chessboard.scss';

.chinesechess-chessboard {
  border-radius: 5px;

  > canvas {
    border-radius: inherit;
  }

  &.hide-chess-backside-color {
    .chinesechess-chess > .back {
      color: var(--first-color) !important;
    }
  }
}

.mobile .q-page.play:not(.dark) {
  background: rgba(44, 51, 60, 0.1);
}