@import 'src/rulesets/ui/chessboard.scss';

.chinesechess-chessboard {
  border-radius: 5px;
  background-color: #774d0d;

  > canvas {
    background-color: #efba6c;
    border-radius: inherit;
    box-shadow: 0px 1px 1px 1px rgb(0, 0, 0, 0.1);
  }
}