$red: #dd1100;
$black: #443322;

.chinesechess-chessboard {
  .chess {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5e1c1;
    outline-offset: 1px;
    font-weight: bold;
    border-radius: 100%;
    text-align: center;
    user-select: none;
    opacity: 1;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.25);
    cursor: default;

    &.red {
      color: $red;
      border-color: $red;
    }
    
    &.black {
      color: $black;
      border-color: $black;
    }

    &.lit {
      outline: 1px solid #fff;
    }

    &.selectable {
      cursor: pointer;

      &:hover {
        outline: 1px solid #fff;
      }
    }

    &.selected {
      opacity: 0.5;
    }

    > .chess__circle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      border-radius: 100%;
      border: 1px solid;
      pointer-events: none;
    }
    
  }
}