@import 'chess.scss';

.playfield {
  .judgement {
    padding: 8px 40px;
    min-width: max-content;
    color: white;
    border-radius: 4px;
    text-align: center;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    transition: opacity 0.2s, transform .2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    pointer-events: none;
    user-select: none;
    z-index: 0;

    &.show {
      z-index: 10;
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  .eat-judgement {
    text-shadow: 0px 1px 1px black, 0px 0px 20px #ffc107;

    > .title {
      font-size: 4rem;
      line-height: 4rem;
      font-weight: bolder;
    }

    > div > .chess-name {
      text-shadow: 0px 0px 1px white;
      font-weight: bold;

      &.red {
        color: $red;
      }
  
      &.black {
        color: $black;
      }
    }
  }

  .checkmate-judgement {
    text-shadow: 1px 1px 1px white, 0px 0px 20px white;

    &.show {
      font-size: 4em;
      font-weight: bolder;
    }
    
    &.red {
      color: $red;
    }

    &.black {
      color: $black;
    }
  }
}