@import 'chess.scss';

.playfield {
  .judgement {
    padding: 8px 40px;
    min-width: max-content;
    color: white;
    background: rgba(0,0,0,0.5);
    box-shadow: 0px 3px 6px 0px rgba(30, 30, 30, 0.4);
    border-radius: 4px;
    text-align: center;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    transition: opacity 0.2s, transform .2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    pointer-events: none;
    user-select: none;
    z-index: 0;

    &.show {
      z-index: 10;
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  .eat-judgement {
    text-shadow: 0px 1px 1px black;

    > .title {
      font-size: 3rem;
      line-height: 3rem;
      font-weight: 500;
    }

    > div > .chess-name {
      text-shadow: 0px 0px 1px white;
      font-weight: bold;

      &.red {
        color: $red;
      }
  
      &.black {
        color: $black;
      }
    }
  }

  .checkmate-judgement {
    font-size: 2rem;
    font-weight: 300;
    text-shadow: 1px 1px 1px white;

    &.show {
      font-size: 3rem;
      font-weight: 500;
    }
    
    &.red {
      color: $red;
    }

    &.black {
      color: $black;
    }
  }
}